# Build directories
sim_build
*_sim_build
build

# C extensions
*.so

# C objects
*.o
*.elf
*.riscv*

# Packaging
__pycache__

# Waveforms
*.vcd
*.fst
*.fst.hier

# Pytest
.pytest_cache

# Mypy
.mypy*
